#privacy-policy-page-wrapper.page-body
  %h3 Privacy Policy
  %p
    Protecting your private information is our priority. This Statement of Privacy applies to the www.outsidekick.com and OutSideKick, Inc.
  %p We don't collect any information from you besides what you send us in your email. OutSidKick is a work in progress, once we create the app and you can install it, we will create another Privacy Policy, and let you know about it.
  %br
  %h4 Use of Information
  %p
    OutSideKick does not sell, rent or lease its customer lists or their information to third parties.
  %br
  %h4 Opt-Out & Unsubscribe
  %p
    We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Darby Smart by 
    = link_to "Contacting us", contact_us_path
  %br
  %h4 Effective Date
  %p This Privacy Policy is effective and was last updated on Oct 21, 2013.

