@import "bootstrap"
#dark-background
  background-color: #868686
  

.container
  width: 1238px
  #outer_layout
    width: 100%
    float: left
    #wrapper
      width: 1238px
      margin: 0 auto
      #inner_wrapper
        width: 1238px
        float: left
        background: white
        box-shadow: 0px 0px 50px rgba(0,0,0,0.5)
        .navbar
          margin-bottom: 0px
          #logo
            img
              float: left
              width: 130px
          .nav
            float: right
.welcome-box
  color: white
    
.hero-unit
  background-image: url("#{running_path}.jpg")
  background-repeat: no-repeat
  height: 455px
  border-radius: 0px
  -moz-border-radius: 0px
  -webkit-border-radius: 0px
  -webkit-border-radius: 0px
